* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #E5E5E5;
  --white: #FFFFFF;
  --gray-light: #eeeeee;
  --gray: #8d8e91;
  --gray-dark: #353638;
  --blue: #10486D;
}

html {
  @media(max-width: 1080px) {
    font-size: 93.75%;
  }

  @media(max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  color: var(--gray-dark);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 700;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}